.profile {
  width: 70vw;
  margin: 0 auto;
}

.profile .navbar-container {
  padding: 0.5rem 0;
}

.profile .navbar-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile .navbar-container .navbar .nav-left {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

.profile .navbar-container .navbar .nav-left:hover {
  background: #e7e7e7;
}

.profile .navbar-container .navbar .nav-left a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 900;
}

.profile .navbar-container .navbar .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.profile .navbar-container .navbar .nav-right .nav-item {
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  background: #fff;
}

.profile .navbar-container .navbar .nav-right .nav-item a svg {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.profile .navbar-container .navbar .nav-right .nav-item:hover {
  background: #e7e7e7;
}

.profile .dashboard-container {
  padding: 4rem 0;
}

.profile .dashboard-container .dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 2rem;
}

.profile .dashboard-container .dashboard .dash-left .pfp {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: #e7e7e7;
}

.profile .dashboard-container .dashboard .dash-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.profile .dashboard-container .dashboard .dash-right .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile .dashboard-container .dashboard .dash-right .top-bar .username {
  font-weight: 700;
  font-size: 2rem;
}

.profile .dashboard-container .dashboard .dash-right .top-bar .username span {
  color: #a7a7a7;
}

.profile .dashboard-container .dashboard .dash-right .top-bar .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.profile .dashboard-container .dashboard .dash-right .top-bar .numbers .downloads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
}

.profile .dashboard-container .dashboard .dash-right .top-bar .numbers .downloads span {
  color: #a7a7a7;
}

.profile .dashboard-container .dashboard .dash-right .top-bar .numbers .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
}

.profile .dashboard-container .dashboard .dash-right .top-bar .numbers .likes span {
  color: #a7a7a7;
}

.profile .dashboard-container .dashboard .dash-right .bio-container {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.profile .dashboard-container .dashboard .dash-right .bio-container .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile .dashboard-container .dashboard .dash-right .bio-container .bio .bio-text {
  height: 100px;
}

.profile .dashboard-container .dashboard .dash-right .bio-container .bio .edit-text {
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
}

.profile .dashboard-container .dashboard .dash-right .bio-container .bio .edit-text svg {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.profile .dashboard-container .dashboard .dash-right .bio-container .bio .edit-text:hover {
  background: #e7e7e7;
}

.profile .dashboard-container .dashboard .upload-container {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
}

.profile .dashboard-container .dashboard .upload-container .upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.profile .dashboard-container .dashboard .upload-container .upload .upload-text {
  color: #a7a7a7;
}

.profile .dashboard-container .dashboard .upload-container .upload .upload-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  background: #e7e7e7;
}

.profile .dashboard-container .dashboard .upload-container .upload .upload-btn:hover {
  background: #ddd;
}

.profile .dashboard-container .dashboard .upload-container .upload .upload-btn:active {
  background: #eee;
}

.profile .gallery .gallery-container {
  border-top: 1px solid #e7e7e7;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.profile .gallery .gallery-container .gallery-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-transform: translate(30px, -20px);
          transform: translate(30px, -20px);
}

.profile .gallery .gallery-container .gallery-header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 50px;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.profile .gallery .gallery-container .gallery-header .header:hover {
  background: #e7e7e7;
}

.profile .gallery .gallery-container .gallery-header .header .header-text {
  font-weight: 700;
}

.profile .gallery .gallery-container .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile .gallery .gallery-container .cards-container .card {
  width: 400px;
}

.profile .gallery .gallery-container .cards-container .card .card-image {
  background: #e7e7e7;
  height: 240px;
  border-radius: 20px 20px 0 0;
}

.profile .gallery .gallery-container .cards-container .card .card-data-container {
  padding: 1rem 0;
}

.profile .gallery .gallery-container .cards-container .card .card-data-container .card-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile .gallery .gallery-container .cards-container .card .card-data-container .card-data .data-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.profile .gallery .gallery-container .cards-container .card .card-data-container .card-data .data-left .card-pfp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #e7e7e7;
}

.profile .gallery .gallery-container .cards-container .card .card-data-container .card-data .data-left .image-data .image-title {
  font-weight: 500;
}

.profile .gallery .gallery-container .cards-container .card .card-data-container .card-data .data-left .image-data .image-author {
  color: #a7a7a7;
}

.profile .gallery .gallery-container .cards-container .card .card-data-container .card-data .image-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.profile .gallery .gallery-container .cards-container .card .card-data-container .card-data .image-stats .image-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .gallery .gallery-container .cards-container .card .card-data-container .card-data .image-stats .image-likes .likes-count {
  color: #a7a7a7;
}

.profile .gallery .gallery-container .cards-container .card .card-data-container .card-data .image-stats .image-downloads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .gallery .gallery-container .cards-container .card .card-data-container .card-data .image-stats .image-downloads .downloads-count {
  color: #a7a7a7;
}
/*# sourceMappingURL=profile.css.map */